body{background-color:rgb(255, 255, 255);font:300 2.125em/1.38 aktiv-grotesk;color:rgb(0, 0, 0);}

.copy{position:relative;z-index:25;width:68%;min-height:94px;margin:-227px 0 0 16%;font-size:1em;line-height:1.18;text-align:center;color:rgb(0, 0, 0);}

.element{position:relative;float:left;width:100%;}

.footer{float:left;clear:both;width:100%;padding-top:40px;}

.footer .container{float:left;width:100%;margin-top:38px;background-color:rgb(43, 43, 43);}

.footer-app-store-button{display:none;width:240px;height:auto;margin:264px auto 0;overflow:hidden;}

.footer-coming-store-info{float:left;clear:both;width:68%;margin-left:16%;padding:10px 10px 42px;font-size:0.735em;text-align:center;color:rgb(217, 217, 217);}

.footer-copyright{position:relative;float:left;clear:both;z-index:45;width:54.4%;min-height:24px;margin:-47px 0 0 22.8%;font:400 0.471em/1.38 Helvetica;text-align:center;color:rgb(0, 0, 0);}

.footer-copyright-bg{position:relative;float:left;clear:both;z-index:44;width:100%;height:70px;margin-top:59px;background-color:rgb(222, 222, 222);}

.footer-logo{display:block;width:192px;height:auto;margin:30px auto 0;overflow:hidden;}

.footer-tagline{float:left;clear:both;width:80%;margin-left:10%;padding:20px;font-size:1.882em;line-height:1.08;text-align:center;color:rgb(217, 217, 217);}

.header{position:relative;clear:both;z-index:26;width:56%;min-height:114px;margin:-1256px 0 0 22%;font-size:1.882em;line-height:1.38;text-align:center;color:rgb(0, 0, 0);}

.hero-backdrop{position:relative;float:left;z-index:28;width:100%;height:1153px;min-height:500px;max-height:1153px;background:url('../images/hero-backdrop-ultra.png') rgb(222, 222, 222);background-size:cover;background-position:center center;}

.hero-copy{position:relative;float:left;z-index:34;width:25.2100840336%;margin-top:330px;}

.hero-copy .image{display:none;position:relative;clear:both;z-index:31;width:40.4166666666%;min-width:100px;margin:-9px 0 0 29.79167%;}

.hero-logo-copy{width:87.5%;margin:0 auto;padding:13px;font-size:0.559em;font-weight:400;line-height:1.38;text-align:center;color:rgb(0, 0, 0);}

.hero-logo-image{display:block;width:87.5%;height:auto;margin:0 auto;overflow:hidden;}

.hero-splash{position:relative;float:right;clear:both;z-index:29;width:75.1575630252%;height:1053px;max-height:1114px;margin-top:-684px;background:url('../images/hero-ultra.png') rgba(222, 222, 222, 0);background-repeat:no-repeat;background-size:contain;background-position:right center;}

.image{float:left;height:auto;overflow:hidden;}

.nav{float:left;clear:both;width:100%;height:52px;background-color:#262626;}

.nav .image{display:block;width:165px;margin:14px 0 0 0.85%;}

.nav .text{float:right;width:21.85%;min-height:22px;margin:14px 0.95% 0 0;font-size:0.471em;text-align:right;color:rgb(179, 178, 178);}

.product-hunt-banner{float:left;width:100%;height:54px;overflow:hidden;display:none;}

.product-hunt-banner .element{z-index:48;height:54px;background-color:rgb(221, 87, 41);}

.product-hunt-banner .text{position:relative;float:left;clear:both;z-index:49;width:54.4%;min-height:26px;margin:-38px 0 0 22.8%;font-family:'Merriweather Sans';font-size:0.529em;text-align:center;color:rgb(255, 255, 255);}

.section-1{float:left;clear:both;width:100%;height:1153px;max-height:1153px;overflow:hidden;}

.section-1 .container{position:relative;float:right;clear:both;z-index:35;width:95.1999999999%;height:1153px;max-height:1153px;margin-top:-1153px;overflow:hidden;}

.section-2{float:left;}

.section-2-splash{position:relative;float:left;z-index:24;width:100%;height:1325px;background-image:url('../images/section-2-backdrop-ultra.png');background-repeat:repeat-x;background-size:contain;background-position:center center;}

.section-3{float:left;clear:both;width:100%;height:948px;overflow:hidden;}

.section-3-background{position:relative;float:left;z-index:18;width:141.25%;height:1105px;margin-left:-7.9%;background:url('../images/section-3-backdrop-ultra.png') rgb(222, 222, 222);background-repeat:no-repeat;background-size:cover;background-position:left top;}

.section-3-firefox{display:block;position:relative;float:left;z-index:20;width:685px;height:auto;margin:-874px 0 0 29.35%;overflow:hidden;}

.section-3-header{position:relative;float:left;clear:both;z-index:22;width:80%;min-height:114px;margin:-1056px 0 0 10%;font-size:1.882em;line-height:1.38;text-align:center;color:rgb(255, 255, 255);}

.section-3-interface-image{display:block;position:relative;float:right;clear:both;z-index:21;width:731px;height:auto;margin:-1146px 3.66719% 0 0;overflow:hidden;}

.section-3-safari{display:block;position:relative;float:left;z-index:19;width:706px;height:auto;margin:-820px 0 0 5.61563%;overflow:hidden;}

.section-4{float:left;clear:both;width:100%;height:865px;overflow:hidden;}

.section-4 .section-4-copy{width:78.6890308633%;min-height:345px;margin-left:12.97072%;padding:12px;font-size:0.706em;line-height:1.38;}

.section-4-copy{float:left;clear:both;text-align:center;color:rgb(0, 0, 0);}

.section-4-header{float:left;width:100%;min-height:114px;font-size:1.882em;line-height:1.05;text-align:center;color:rgb(0, 0, 0);}

.section-4-image{float:left;width:56.8%;height:1068px;margin-left:0.35%;background-image:url('../images/section-5-hero.png');background-repeat:no-repeat;background-size:contain;background-position:left center;}

.section-4-splash{float:left;width:53.5%;height:750px;margin-top:56px;background-image:url('../images/section-4-hero.png');background-repeat:no-repeat;background-size:auto auto;background-position:right center;}

.section-5{float:left;clear:both;width:100%;height:1143px;overflow:hidden;}

.section-5 .container{float:left;}

.section-5 .element{z-index:5;height:1143px;background-image:url('../images/section-5-backdrop.png');background-repeat:no-repeat;background-size:cover;background-position:center center;}

.section-5 .section-4-copy{width:100%;min-height:94px;padding:20px;font-size:1em;line-height:1.18;}

.section-5-copy{float:left;clear:both;width:100%;min-height:94px;padding:20px;font-size:1em;line-height:1.18;text-align:center;color:rgb(0, 0, 0);}

.section-5-header{float:left;width:100%;font-size:1.882em;line-height:1.38;text-align:center;color:rgb(0, 0, 0);}

.section-5-image{float:left;width:53.55%;height:793px;margin-left:2.45%;background-image:url('../images/section-6-hero.png');background-repeat:no-repeat;background-size:contain;background-position:center center;}

.section-6{float:left;clear:both;width:100%;height:793px;margin-top:72px;}

.section-6 .container{float:left;width:35.9499999999%;height:533px;margin:153px 0 0 3.3%;padding:20px;}

.text{font-weight:400;line-height:1.38;}

._button{display:block;position:relative;float:left;clear:both;z-index:33;width:56.6666666666%;height:64px;margin:14px 0 0 21.66667%;border-radius:10px;background-color:rgb(234, 0, 0);font:400 0.471em/1.38 'Merriweather Sans';text-align:center;color:rgb(255, 255, 255);}

.container-2{float:left;width:100%;height:865px;}

.container-3{float:right;clear:both;width:42.47578125%;height:459px;margin:-581px 4.02422% 0 0;padding:20px;}

.container-4{position:relative;clear:both;z-index:10;width:100%;height:1068px;margin-top:-1095px;}

.container-5{width:37.55%;height:531px;margin:274px 0 0 5.3%;}

.section-2-1{clear:both;width:100%;height:1325px;margin-top:85px;overflow:hidden;}

.footer-copyright a{border-top-width:0;border-right-width:0;border-bottom-width:0;border-left-width:0;border-color:transparent;border-style:none;border-top-left-radius:0;border-top-right-radius:0;border-bottom-right-radius:0;border-bottom-left-radius:0;background-color:transparent;font-family:inherit;font-style:inherit;font-size:inherit;font-weight:inherit;text-transform:inherit;text-decoration:inherit;letter-spacing:inherit;word-spacing:inherit;color:inherit;opacity:1;word-break:normal;word-wrap:normal;white-space:normal;}

@media(max-width: 1701px) {
.container .footer-app-store-button{position:relative;float:left;clear:both;z-index:40;height:auto;margin-top:-59px;margin-right:0;margin-left:51.73427%;}

.container .footer-coming-store-info{position:relative;z-index:43;margin-left:16.0006999999%;}

.container .footer-copyright{position:relative;z-index:45;margin-left:22.79909%;}

.container .footer-copyright-bg{position:relative;z-index:44;margin-top:79px;}

.container .footer-logo{height:auto;margin-top:89px;}

.container .footer-tagline{margin-left:9.9978%;}

.container .hero-copy{position:relative;z-index:34;margin-top:269px;}

.container .hero-splash{position:relative;z-index:29;margin-top:-654px;}

.container .section-4-image{width:56.0258671369%;height:926px;margin-left:1.12618%;}

.container .section-4-splash{position:relative;z-index:15;}

.footer{position:relative;z-index:47;margin-top:-37px;}

.hero-copy .hero-logo-copy{font-size:0.471em;}

.hero-copy .hero-logo-image{height:auto;}

.hero-copy .image{position:relative;z-index:31;height:auto;margin-top:35px;margin-left:35.03694%;}

.nav{position:relative;z-index:39;}

.nav .image{height:auto;margin-left:0.84968%;}

.nav .text{margin-right:0.94981%;}

.product-hunt-banner{position:relative;z-index:50;height:52px;}

.product-hunt-banner .element{position:relative;z-index:48;}

.product-hunt-banner .text{position:relative;z-index:49;width:52.8512639623%;margin-left:23.5743699999%;font-size:0.412em;}

.section-1{height:992px;}

.section-1 .container{position:relative;z-index:35;width:95.1793062904%;height:1019px;}

.section-1 .hero-backdrop{position:relative;z-index:28;}

.section-2 .copy{z-index:25;margin-left:15.99978%;}

.section-2 .header{z-index:26;margin-left:21.99993%;}

.section-2 .section-2{position:relative;}

.section-2 .section-2-splash{position:relative;z-index:24;}

.section-3{height:922px;}

.section-3 .section-3-background{position:relative;z-index:18;margin-left:-7.89885%;}

.section-3 .section-3-firefox{position:relative;z-index:20;height:auto;margin-left:29.34763%;}

.section-3 .section-3-header{position:relative;z-index:22;margin-left:9.9978%;font-size:1.706em;}

.section-3 .section-3-interface-image{position:relative;z-index:21;height:auto;margin-right:3.66329%;}

.section-3 .section-3-safari{position:relative;z-index:19;height:auto;margin-left:5.61343%;}

.section-4{height:872px;}

.section-4 .section-4-copy{margin-left:12.96963%;}

.section-5{height:1036px;}

.section-5 .element{position:relative;z-index:5;}

.section-6{position:relative;z-index:4;margin-top:37px;}

.section-6 .container{margin-left:3.29953%;}

.section-6 .section-5-image{margin-left:2.44985%;}

.hero-copy ._button{position:relative;z-index:33;width:56.598139428%;height:54px;margin-top:21px;margin-left:20.82616%;}

.container .container-3{position:relative;clear:none;z-index:14;width:44.2092886537%;margin-top:239px;margin-right:2.28818%;}

.container .container-5{margin-left:5.29744%;}

.section-2-1{margin-top:61px;}

.section-4 .container-2{height:524px;}

.section-5 .container-4{position:relative;z-index:10;}
}

@media(max-width: 1440px) {
body{font-size:1.563em;}

.container .footer-app-store-button{position:relative;z-index:40;height:auto;margin-top:10px;margin-left:41.66667%;}

.container .footer-coming-store-info{position:relative;z-index:43;margin-left:15.99935%;font-size:0.72em;}

.container .footer-copyright{position:relative;z-index:45;margin-left:22.79948%;font-size:0.48em;}

.container .footer-copyright-bg{position:relative;z-index:44;margin-top:22px;}

.container .footer-logo{width:132px;height:auto;margin-top:30px;}

.container .footer-tagline{margin-left:10%;font-size:2.04em;}

.container .hero-copy{position:relative;z-index:34;margin-top:253px;}

.container .hero-splash{position:relative;z-index:29;width:79.5040116703%;height:908px;margin-top:-620px;}

.container .section-4-header{width:100.0628672953%;min-height:0;margin-left:-0.07066%;padding:10px;font-size:2.32em;}

.container .section-4-image{width:56.8055555555%;height:808px;margin-left:0;}

.container .section-4-splash{position:relative;z-index:15;width:54.6922300706%;height:528px;}

.container .section-5-copy{width:107.874015748%;margin-left:-3.93701%;font-size:25px;}

.container .section-5-header{font-size:2.32em;}

.footer{position:relative;z-index:47;margin-top:-22px;}

.footer .container{margin-top:0;}

.hero-copy .hero-logo-copy{font-size:0.72em;}

.hero-copy .hero-logo-image{height:auto;}

.hero-copy .image{position:relative;z-index:31;min-width:140px;height:auto;margin-top:-16px;margin-left:29.74684%;}

.nav{position:relative;z-index:39;height:40px;}

.nav .image{width:127px;height:auto;margin-left:0.84961%;}

.nav .text{display:none;margin-top:9px;margin-right:0.94944%;font-size:0.64em;}

.product-hunt-banner{position:relative;z-index:50;height:51px;}

.product-hunt-banner .element{position:relative;z-index:48;}

.product-hunt-banner .text{position:relative;z-index:49;width:54.3999565972%;margin-left:21.9987%;font-size:0.56em;}

.section-1{height:831px;}

.section-1 .container{position:relative;z-index:35;width:95.2083333333%;height:907px;margin-top:-913px;}

.section-1 .hero-backdrop{position:relative;z-index:28;height:913px;}

.section-2{margin-top:0;}

.section-2 .copy{z-index:25;margin-top:-239px;font-size:25px;}

.section-2 .header{z-index:26;margin-top:-1006px;font-size:2.32em;}

.section-2 .section-2{position:relative;width:80%;margin-left:10%;}

.section-2 .section-2-splash{position:relative;z-index:24;height:1025px;margin-top:50px;}

.section-3{height:877px;}

.section-3 .section-3-background{position:relative;z-index:18;margin-left:-7.89931%;}

.section-3 .section-3-firefox{visibility:hidden;position:relative;z-index:20;height:auto;margin-top:-877px;margin-left:19.00174%;}

.section-3 .section-3-header{position:relative;z-index:22;margin-left:10%;font-size:2.32em;}

.section-3 .section-3-interface-image{position:relative;float:left;z-index:21;height:auto;margin-top:-1192px;margin-right:0;margin-left:46.05577%;}

.section-3 .section-3-safari{position:relative;z-index:19;height:auto;margin-left:5.61415%;}

.section-4{height:642px;}

.section-4 .section-4-copy{width:107.0602706027%;margin-left:-3.56961%;font-size:0.88em;}

.section-5{height:895px;}

.section-5 .element{position:relative;z-index:5;height:896px;}

.section-5 .section-4-copy{font-size:25px;}

.section-6{position:relative;z-index:4;height:768px;margin-top:0;}

.section-6 .container{position:relative;clear:both;z-index:3;width:38.0555555555%;margin-top:-432px;margin-left:55.97222%;}

.section-6 .section-5-header{width:107.874015748%;margin-left:-3.93701%;}

.section-6 .section-5-image{position:relative;z-index:0;width:53.5822401614%;height:500px;margin-top:151px;margin-left:2.41645%;}

.hero-copy ._button{position:relative;z-index:33;margin-top:7px;margin-left:21.69982%;font-size:0.64em;}

.container .container-3{position:relative;clear:both;z-index:14;width:41.1705348133%;margin-top:-451px;margin-right:-0.20725%;}

.container .container-5{margin-top:198px;margin-left:5.64345%;}

.section-2-1{height:955px;}

.section-5 .container-4{position:relative;z-index:10;height:621px;margin-top:-848px;}
}

@media(max-width: 991px) {
body{font-size:1.375em;}

.container .footer-app-store-button{position:relative;z-index:40;height:auto;margin-top:4px;margin-left:37.89102%;}

.container .footer-coming-store-info{position:relative;z-index:43;margin-left:15.99868%;font-size:0.682em;}

.container .footer-copyright{position:relative;z-index:45;margin-top:-32px;margin-left:22.79894%;font-size:0.636em;}

.container .footer-copyright-bg{position:relative;z-index:44;height:47px;margin-top:0;}

.container .footer-logo,.hero-copy .hero-logo-image{height:auto;}

.container .footer-tagline{margin-left:9.99937%;font-size:1.636em;}

.container .hero-copy{position:relative;z-index:34;width:31.4618644067%;margin-top:285px;margin-left:0.93022%;}

.container .hero-splash{position:relative;clear:none;z-index:29;width:65.9957627118%;height:446px;margin-top:221px;margin-right:0.76801%;}

.container .section-4-header{margin-left:0;font-size:1.818em;}

.container .section-4-image{width:56.8113017154%;height:582px;margin-left:0.78835%;}

.container .section-4-splash{position:relative;z-index:15;margin-top:0;background-size:contain;background-position:center center;}

.container .section-5-copy{width:112.2529644268%;margin-left:-6.26978%;font-size:22px;}

.container .section-5-header{font-size:1.818em;}

.footer{position:relative;z-index:47;margin-top:-16px;padding-top:0;}

.footer .container{margin-top:38px;}

.hero-copy .hero-logo-copy{font-size:0.636em;}

.hero-copy .image{position:relative;z-index:31;height:auto;margin-top:33px;margin-left:26.43098%;}

.nav{position:relative;z-index:39;}

.nav .image{height:auto;margin-top:12px;margin-left:1.25032%;}

.nav .text{margin-top:10px;margin-right:0.94917%;font-size:0.545em;}

.product-hunt-banner{position:relative;z-index:50;height:53px;}

.product-hunt-banner .element{position:relative;z-index:48;}

.product-hunt-banner .text{position:relative;z-index:49;width:56.0040363269%;margin-left:21.99641%;font-size:0.636em;}

.section-1{height:602px;}

.section-1 .container{position:relative;z-index:35;width:95.2573158425%;height:773px;margin-top:-749px;margin-right:0.00158%;}

.section-1 .hero-backdrop{position:relative;z-index:28;height:602px;}

.section-2 .copy{z-index:25;margin-top:-236px;font-size:22px;}

.section-2 .header{z-index:26;margin-top:-766px;font-size:1.818em;}

.section-2 .section-2{position:relative;margin-left:9.99937%;}

.section-2 .section-2-splash{position:relative;z-index:24;height:841px;margin-top:0;}

.section-3{height:634px;}

.section-3 .section-3-background{position:relative;z-index:18;width:141.2714429868%;height:789px;margin-left:-7.87084%;}

.section-3 .section-3-firefox{display:none;position:relative;z-index:20;height:auto;margin-top:-558px;margin-left:29.34851%;}

.section-3 .section-3-header{position:relative;z-index:22;margin-top:-740px;margin-left:9.99937%;font-size:1.818em;}

.section-3 .section-3-interface-image{position:relative;clear:none;z-index:21;width:73.7638748738%;height:auto;margin-top:-620px;margin-left:12.67186%;}

.section-3 .section-3-safari{display:none;position:relative;z-index:19;height:auto;margin-top:-591px;margin-left:5.95831%;}

.section-4{height:543px;}

.section-4 .section-4-copy{margin-left:-0.0552%;font-size:0.682em;}

.section-5{height:609px;}

.section-5 .element{position:relative;z-index:5;height:623px;}

.section-5 .section-4-copy{font-size:22px;}

.section-6{position:relative;z-index:4;height:561px;margin-top:16px;}

.section-6 .container{position:relative;clear:none;z-index:3;width:35.923309788%;height:437px;margin-top:124px;margin-left:0.812%;}

.section-6 .section-5-header{width:112.5691699604%;margin-left:-6.26978%;}

.section-6 .section-5-image{position:relative;z-index:0;margin-top:34px;margin-left:2.41707%;}

.hero-copy ._button{position:relative;z-index:33;width:59.5959595959%;margin-top:5px;margin-left:17.58733%;font-size:0.727em;}

.container .container-3{position:relative;clear:none;z-index:14;margin-top:103px;margin-right:2.82543%;}

.container .container-5{margin-top:159px;margin-left:4.8499%;}

.section-2-1{height:753px;}

.section-5 .container-4{position:relative;z-index:10;height:422px;margin-top:-623px;}
}

@media(max-width: 770px) {
.container .footer-app-store-button{position:relative;z-index:40;width:140px;height:auto;margin-top:0;margin-left:40.90909%;}

.container .footer-coming-store-info{position:relative;z-index:43;width:79.9217731421%;margin-left:9.9858%;}

.container .footer-copyright{position:relative;z-index:45;margin-top:-28px;margin-left:22.7983%;font-size:0.545em;}

.container .footer-copyright-bg{position:relative;z-index:44;height:41px;margin-top:10px;}

.container .footer-logo{width:104px;height:auto;}

.container .footer-tagline{margin-left:9.9858%;font-size:1.273em;}

.container .hero-copy{position:relative;z-index:34;width:31.9426336375%;margin-top:89px;margin-left:2.05763%;}

.container .hero-splash{position:relative;clear:both;z-index:29;margin-top:-348px;margin-right:0.00609%;}

.container .section-4-header{font-size:1.455em;}

.container .section-4-image{width:56.7532467532%;height:462px;margin-left:0.73255%;}

.container .section-4-splash{position:relative;z-index:15;margin-top:-20px;}

.container .section-5-copy{margin-left:-6.17748%;font-size:0.682em;}

.container .section-5-header{font-size:1.455em;}

.footer{position:relative;z-index:47;margin-top:0;}

.footer .container{margin-top:0;}

.hero-copy .hero-logo-copy{float:left;clear:both;width:99.5918367346%;margin-right:0;margin-left:0.19059%;}

.hero-copy .hero-logo-image{float:left;height:auto;margin-right:0;margin-left:6.24484%;}

.hero-copy .image{position:relative;z-index:31;min-width:80px;height:auto;margin-top:11px;margin-left:21.53612%;}

.nav{position:relative;z-index:39;}

.nav .image{height:auto;margin-left:1.25%;}

.nav .text{margin-right:0.94765%;}

.product-hunt-banner{position:relative;z-index:50;height:51px;}

.product-hunt-banner .element{position:relative;z-index:48;}

.product-hunt-banner .text{position:relative;z-index:49;width:69.6103896103%;margin-left:15.19481%;}

.section-1{height:459px;}

.section-1 .container{position:relative;z-index:35;width:100%;height:588px;margin-top:-602px;margin-right:0;}

.section-1 .hero-backdrop{position:relative;z-index:28;}

.section-2 .copy{z-index:25;margin-top:-255px;font-size:0.727em;}

.section-2 .header{z-index:26;margin-top:-678px;font-size:1.455em;}

.section-2 .section-2{position:relative;margin-left:10%;}

.section-2 .section-2-splash{position:relative;z-index:24;margin-top:-115px;}

.section-3{height:563px;}

.section-3 .section-3-background{position:relative;z-index:18;margin-left:-7.86932%;}

.section-3 .section-3-firefox{display:block;position:relative;z-index:20;height:auto;margin-top:-1828px;margin-left:0;}

.section-3 .section-3-header{position:relative;z-index:22;margin-left:9.98782%;font-size:1.455em;}

.section-3 .section-3-interface-image{position:relative;z-index:21;height:auto;margin-top:-640px;margin-left:12.66843%;}

.section-3 .section-3-safari{display:block;visibility:hidden;position:relative;z-index:19;height:auto;margin-top:-1828px;margin-left:0;}

.section-4{height:482px;}

.section-4 .section-4-copy{width:106.5969954278%;margin-left:0.64305%;}

.section-5{height:497px;}

.section-5 .element{position:relative;z-index:5;}

.section-5 .section-4-copy{font-size:0.682em;}

.section-6{position:relative;z-index:4;height:413px;margin-top:0;}

.section-6 .container{position:relative;z-index:3;width:35.974025974%;height:259px;margin-top:81px;margin-left:2.9220799999%;}

.section-6 .section-5-header{margin-left:-0.1846%;}

.section-6 .section-5-image{position:relative;z-index:0;width:53.6363636363%;height:413px;margin-top:0;margin-left:2.45942%;}

.hero-copy ._button{position:relative;z-index:33;margin-top:19px;margin-left:21.53612%;font-size:0.545em;}

.container .container-3{position:relative;z-index:14;margin-top:96px;margin-right:2.8267%;}

.container .container-5{width:37.5324675324%;height:335px;margin-top:130px;margin-left:4.93304%;}

.section-2-1{height:561px;}

.section-5 .container-4{position:relative;z-index:10;height:485px;}
}

@media(max-width: 479px) {
body{font-size:0.813em;}

.container .footer-app-store-button{position:relative;z-index:40;width:149px;height:auto;margin-left:34.44676%;}

.container .footer-coming-store-info{position:relative;z-index:43;margin-top:7px;margin-left:9.99152%;font-size:1em;}

.container .footer-copyright{position:relative;z-index:45;width:79.9582463465%;margin-top:-25px;margin-left:10.02088%;font-size:0.769em;}

.container .footer-copyright-bg{position:relative;z-index:44;margin-top:4px;}

.container .footer-logo{height:auto;}

.container .footer-tagline{margin-left:9.99152%;font-size:1.692em;}

.container .hero-copy{position:relative;z-index:34;width:79.9582463465%;margin-top:385px;margin-left:9.99478%;}

.container .hero-splash{position:relative;float:left;z-index:29;width:92.9018789144%;height:359px;margin-top:-625px;margin-right:0;margin-left:7.09486%;}

.container .section-4-copy{font-size:1em;}

.container .section-4-header{width:111.3372093023%;margin-left:-5.80487%;font-size:2.154em;}

.container .section-4-image{clear:both;width:79.9582463465%;height:365px;margin-top:-711px;margin-left:9.99152%;}

.container .section-4-splash{position:relative;z-index:15;width:79.9582463465%;height:277px;margin-top:34px;margin-left:9.99152%;}

.container .section-5-copy{width:111.6618075801%;margin-left:-5.82635%;font-size:1em;}

.container .section-5-header{font-size:2.154em;}

.footer{position:relative;z-index:47;}

.hero-copy .hero-logo-copy{float:none;clear:none;margin-right:auto;margin-left:auto;font-size:1.231em;}

.hero-copy .hero-logo-image{float:none;height:auto;margin-right:auto;margin-left:auto;}

.hero-copy .image{position:relative;z-index:31;height:auto;margin-top:56px;margin-left:29.79357%;}

.nav{display:none;position:relative;z-index:39;height:28px;margin-top:-54px;}

.nav .image{position:absolute;float:none;top:5px;left:0;right:0;height:auto;margin-top:0;margin-right:auto;margin-left:auto;}

.nav .text{margin-top:14px;margin-right:0.94272%;font-size:0.923em;}

.product-hunt-banner{position:relative;z-index:50;height:54px;}

.product-hunt-banner .element{position:relative;z-index:48;}

.product-hunt-banner .text{position:relative;z-index:49;width:80.1670146137%;margin-left:10.02088%;font-size:0.846em;}

.section-1{height:666px;}

.section-1 .container{position:relative;z-index:35;height:678px;margin-top:-717px;}

.section-1 .hero-backdrop{position:relative;z-index:28;height:717px;}

.section-2 .copy{z-index:25;margin-top:-300px;font-size:1em;}

.section-2 .header{z-index:26;margin-top:-630px;font-size:2.154em;}

.section-2 .section-2{position:relative;margin-left:9.99152%;}

.section-2 .section-2-splash{position:relative;z-index:24;margin-top:-180px;}

.section-3{height:442px;}

.section-3 .section-3-background{position:relative;z-index:18;margin-left:-7.89405%;}

.section-3 .section-3-firefox{position:relative;clear:both;z-index:20;height:auto;margin-top:-760px;margin-left:29.34499%;}

.section-3 .section-3-header{position:relative;z-index:22;margin-top:-760px;margin-left:9.99152%;font-size:2.154em;}

.section-3 .section-3-interface-image{position:relative;clear:both;z-index:21;height:auto;margin-top:-1127px;margin-left:12.90775%;}

.section-3 .section-3-safari{position:relative;clear:both;z-index:19;height:auto;margin-top:-2021px;}

.section-4{height:521px;}

.section-4 .section-4-copy{margin-left:-5.80487%;}

.section-5{height:556px;}

.section-5 .element{position:relative;z-index:5;height:609px;}

.section-6{position:relative;z-index:4;height:405px;}

.section-6 .container{position:relative;clear:both;z-index:3;width:79.9582463465%;margin-top:0;margin-left:9.99152%;}

.section-6 .section-5-header{width:111.6618075801%;margin-left:-5.82635%;}

.section-6 .section-5-image{position:relative;z-index:0;width:79.9582463465%;height:237px;margin-top:24px;margin-left:9.99152%;}

.hero-copy ._button{display:none;position:relative;z-index:33;width:53.002610966%;margin-top:43px;margin-left:23.53133%;font-size:0.923em;}

.container .container-3{position:relative;clear:both;z-index:14;width:80.1670146137%;height:199px;margin-top:14px;margin-right:9.81211%;}

.container .container-5{width:79.9582463465%;margin-top:376px;margin-left:10.02088%;}

.section-2-1{height:450px;}

.section-5 .container-4{position:relative;z-index:10;height:571px;margin-top:-596px;}
}

@media(max-width: 376px) {
.container .footer-app-store-button{position:relative;z-index:40;height:auto;margin-top:127px;margin-left:234.04255%;}

.container .footer-coming-store-info{position:relative;z-index:43;margin-left:9.99003%;}

.container .footer-copyright{position:relative;z-index:45;margin-left:10.0191199999%;}

.container .footer-copyright-bg{position:relative;z-index:44;margin-top:-8px;}

.container .footer-logo,.hero-copy .hero-logo-image{height:auto;}

.container .footer-tagline{margin-left:9.99003%;}

.container .hero-copy{position:relative;z-index:34;margin-top:295px;margin-left:9.99834%;}

.container .hero-splash{position:relative;z-index:29;margin-top:-511px;margin-left:7.09774%;}

.container .section-4-header,.section-4 .section-4-copy{margin-left:-5.80101%;}

.container .section-4-image{width:80.0531914893%;height:300px;margin-top:-644px;margin-left:9.99834%;}

.container .section-4-splash{position:relative;z-index:15;margin-left:9.99003%;}

.container .section-5-copy,.section-6 .section-5-header{margin-left:-5.8150000001%;}

.footer{position:relative;z-index:47;}

.hero-copy .hero-logo-copy{font-size:1em;}

.hero-copy .image{position:relative;z-index:31;height:auto;margin-top:170px;margin-left:47.5651%;}

.nav{position:relative;z-index:39;margin-top:-52px;}

.nav .image{left:0;right:0;height:auto;margin-right:auto;margin-left:auto;}

.nav .text{margin-right:0.95%;}

.product-hunt-banner{position:relative;z-index:50;height:52px;}

.product-hunt-banner .element{position:relative;z-index:48;}

.product-hunt-banner .text{position:relative;z-index:49;width:80.3191489361%;margin-top:-42px;margin-left:10.10223%;}

.section-1{height:515px;}

.section-1 .container{position:relative;z-index:35;height:592px;}

.section-1 .hero-backdrop{position:relative;z-index:28;}

.section-2 .copy{z-index:25;}

.section-2 .header{z-index:26;}

.section-2 .section-2{position:relative;margin-left:9.99003%;}

.section-2 .section-2-splash{position:relative;z-index:24;}

.section-3{height:360px;}

.section-3 .section-3-background{position:relative;z-index:18;margin-left:-7.89146%;}

.section-3 .section-3-firefox{position:relative;z-index:20;height:auto;margin-left:29.34259%;}

.section-3 .section-3-header{position:relative;z-index:22;margin-left:9.99003%;font-size:1.923em;}

.section-3 .section-3-interface-image{position:relative;z-index:21;height:auto;margin-top:-1151px;margin-left:12.37118%;}

.section-3 .section-3-safari{position:relative;z-index:19;height:auto;}

.section-4{height:486px;}

.section-5{height:530px;}

.section-5 .element{position:relative;z-index:5;}

.section-6{position:relative;z-index:4;}

.section-6 .container{position:relative;z-index:3;margin-left:9.99003%;}

.section-6 .section-5-image{position:relative;z-index:0;margin-left:9.99003%;}

.hero-copy ._button{position:relative;z-index:33;margin-top:160px;margin-left:34.5927999999%;}

.container .container-3{position:relative;z-index:14;width:80.0531914893%;height:204px;margin-top:-44px;margin-right:9.9526299999%;}

.container .container-5{margin-top:318px;margin-left:9.99834%;}

.section-4 .container-2{height:492px;}

.section-5 .container-4{position:relative;z-index:10;}
}

@media(max-width: 321px) {
body{font-size:0.813em;}

.container .footer-app-store-button{position:relative;z-index:40;height:auto;margin-left:274.1433%;}

.container .footer-coming-store-info{position:relative;z-index:43;margin-left:9.98832%;}

.container .footer-copyright{position:relative;z-index:45;margin-left:10.01266%;font-size:0.615em;}

.container .footer-copyright-bg{position:relative;z-index:44;}

.container .footer-logo,.hero-copy .hero-logo-image{height:auto;}

.container .footer-tagline{margin-left:9.98832%;}

.container .hero-copy{position:relative;z-index:34;margin-top:245px;margin-left:10%;}

.container .hero-splash{position:relative;z-index:29;margin-top:-498px;margin-left:7.0921%;}

.container .section-4-header,.section-4 .section-4-copy{margin-left:-5.80441%;}

.container .section-4-image{margin-top:-635px;margin-left:9.99319%;}

.container .section-4-splash{position:relative;z-index:15;margin-top:0;margin-left:9.99319%;}

.container .section-5-copy,.section-6 .section-5-header{margin-left:-5.81278%;}

.footer{position:relative;z-index:47;}

.hero-copy .image{position:relative;z-index:31;height:auto;margin-top:173px;margin-left:55.71655%;}

.nav{position:relative;z-index:39;}

.nav .image{left:0;right:0;height:auto;margin-right:auto;margin-left:auto;}

.product-hunt-banner{position:relative;z-index:50;}

.product-hunt-banner .element{position:relative;z-index:48;}

.product-hunt-banner .text{position:relative;z-index:49;width:79.7507788161%;margin-top:-43px;margin-left:9.96885%;}

.section-1{height:460px;}

.section-1 .container{position:relative;z-index:35;}

.section-1 .hero-backdrop{position:relative;z-index:28;}

.section-2 .copy{z-index:25;}

.section-2 .header{z-index:26;}

.section-2 .section-2{position:relative;margin-left:9.98832%;}

.section-2 .section-2-splash{position:relative;z-index:24;}

.section-3 .section-3-background{position:relative;z-index:18;margin-left:-7.88551%;}

.section-3 .section-3-firefox{position:relative;z-index:20;height:auto;margin-left:29.3419%;}

.section-3 .section-3-header{position:relative;z-index:22;margin-left:9.98832%;}

.section-3 .section-3-interface-image{position:relative;z-index:21;height:auto;margin-top:-1122px;margin-left:11.03485%;}

.section-3 .section-3-safari{position:relative;z-index:19;height:auto;}

.section-5 .element{position:relative;z-index:5;}

.section-6{position:relative;z-index:4;}

.section-6 .container{position:relative;z-index:3;margin-left:9.98832%;}

.section-6 .section-5-image{position:relative;z-index:0;margin-left:9.98832%;}

.hero-copy ._button{position:relative;z-index:33;margin-top:163px;margin-left:40.52113%;}

.container .container-3{position:relative;z-index:14;margin-top:-55px;margin-right:9.94451%;}

.container .container-5{margin-top:300px;margin-left:9.99319%;}

.section-5 .container-4{position:relative;z-index:10;}
}
