body{background-color:rgb(255, 255, 255);font:300 2.125em/1.38 aktiv-grotesk;color:rgb(0, 0, 0);}

.hero-copy p{margin-bottom:1em;}

.container .image{margin-right:auto;margin-left:auto;}

.container .text{text-align:center;}

.element{float:left;}

.footer{float:left;clear:both;width:100%;padding-top:40px;}

.footer .container{float:left;width:100%;margin-top:38px;background-color:rgb(43, 43, 43);}

.footer .element{position:relative;clear:both;z-index:43;width:100%;height:70px;margin-top:80px;background-color:rgb(222, 222, 222);}

.footer .text{float:left;clear:both;}

.hero-backdrop{position:relative;float:left;z-index:28;width:100%;height:1153px;min-height:500px;max-height:1153px;background:url('../images/hero-backdrop-ultra.png') rgb(222, 222, 222);background-size:cover;background-position:center center;}

.hero-copy{position:relative;float:left;z-index:33;width:25.2100840336%;margin-top:330px;}

.hero-copy .text{width:87.5%;margin:0 auto;padding:13px;font-size:0.559em;line-height:1.38;color:rgb(0, 0, 0);}

.hero-splash{position:relative;float:right;clear:both;z-index:29;width:75.1575630252%;height:1053px;max-height:1114px;margin-top:-727px;background:url('../images/hero-ultra.png') rgba(222, 222, 222, 0);background-repeat:no-repeat;background-size:contain;background-position:right center;}

.image{display:block;height:auto;overflow:hidden;}

.nav{float:left;width:100%;height:52px;background-color:#262626;}

.nav .image{float:left;width:165px;margin:14px 0 0 0.85%;}

.nav .text{float:right;width:21.85%;min-height:22px;margin:14px 0.95% 0 0;font-size:0.471em;font-weight:400;line-height:1.38;text-align:right;color:rgb(179, 178, 178);}

.section-1{float:left;clear:both;width:100%;height:1153px;max-height:1153px;overflow:hidden;}

.section-1 .container{position:relative;float:right;clear:both;z-index:34;width:95.1999999999%;height:1153px;max-height:1153px;margin-top:-1153px;overflow:hidden;}

.section-2{float:left;clear:both;width:100%;height:1325px;overflow:hidden;}

.section-2 .element{position:relative;clear:both;z-index:26;width:56%;min-height:114px;margin:-1256px 0 0 22%;font-size:1.882em;line-height:1.38;text-align:center;color:rgb(0, 0, 0);}

.section-2 .text{position:relative;float:left;z-index:25;width:68%;min-height:94px;margin:-227px 0 0 16%;font-size:1em;line-height:1.18;text-align:center;color:rgb(0, 0, 0);}

.section-2-background{position:relative;float:left;z-index:24;width:100%;height:1325px;background-image:url('../images/section-2-backdrop-ultra.png');background-repeat:repeat-x;background-size:contain;background-position:center center;}

.section-3{float:left;clear:both;width:100%;height:948px;overflow:hidden;}

.section-3 .image{position:relative;}

.section-3 .text{position:relative;float:left;clear:both;z-index:22;width:80%;min-height:114px;margin:-1056px 0 0 10%;font-size:1.882em;line-height:1.38;text-align:center;color:rgb(255, 255, 255);}

.section-3-background{position:relative;float:left;z-index:18;width:141.25%;height:1105px;margin-left:-7.9%;background:url('../images/section-3-backdrop-ultra.png') rgb(222, 222, 222);background-repeat:no-repeat;background-size:cover;background-position:left top;}

.section-4{float:left;clear:both;width:100%;height:865px;overflow:hidden;}

.section-4 .element{width:53.5%;height:750px;margin-top:56px;background-image:url('../images/section-4-hero.png');background-repeat:no-repeat;background-size:auto auto;background-position:right center;}

.section-4 .text{float:left;color:rgb(0, 0, 0);}

.section-5{float:left;clear:both;width:100%;height:1143px;overflow:hidden;}

.section-5 .container{float:left;}

.section-5 .element{background-repeat:no-repeat;}

.section-6{float:left;clear:both;width:100%;height:793px;margin-top:72px;}

.section-6 .container{float:left;width:35.9499999999%;height:533px;margin:153px 0 0 3.3%;padding:20px;}

.section-6 .element{width:53.55%;height:793px;margin-left:2.45%;background-image:url('../images/section-6-hero.png');background-repeat:no-repeat;background-size:contain;background-position:center center;}

.section-5 .text,.section-6 .text{float:left;width:100%;color:rgb(0, 0, 0);}

.container-2{float:left;width:100%;height:865px;}

.container-3{float:right;clear:both;width:42.47578125%;height:459px;margin:-581px 4.02422% 0 0;padding:20px;}

.container-4{position:relative;clear:both;z-index:10;width:100%;height:1068px;margin-top:-1095px;}

.container-5{width:37.55%;height:531px;margin:274px 0 0 5.3%;}

.element-3{position:relative;z-index:5;width:100%;height:1143px;background-image:url('../images/section-5-backdrop.png');background-size:cover;background-position:center center;}

.element-4{width:56.8%;height:1068px;margin-left:0.35%;background-image:url('../images/section-5-hero.png');background-size:contain;background-position:left center;}

.image-2{width:87.5%;}

.image-3{width:40.4166666666%;min-width:100px;margin-top:25px;}

.image-4{float:left;z-index:19;width:706px;margin:-820px 0 0 5.61563%;}

.image-5{float:left;z-index:20;width:685px;margin:-874px 0 0 29.35%;}

.image-6{float:right;clear:both;z-index:21;width:731px;margin:-1146px 3.66719% 0 0;}

.image-7{width:192px;margin-top:30px;}

.image-8{width:240px;margin-top:264px;}

.text-10,.text-8{clear:both;min-height:94px;padding:20px;font-size:1em;line-height:1.18;}

.text-11{width:80%;margin-left:10%;padding:20px;font-size:1.882em;line-height:1.08;color:rgb(217, 217, 217);}

.text-12{width:68%;margin-left:16%;padding:10px 10px 42px;font-size:0.735em;color:rgb(217, 217, 217);}

.text-13{position:relative;z-index:44;width:54.4%;min-height:24px;margin:-47px 0 0 22.8%;font:400 0.471em/1.38 Helvetica;color:rgb(0, 0, 0);}

.text-5{width:100%;min-height:114px;font-size:1.882em;line-height:1.05;}

.text-6{clear:both;width:78.6890308633%;min-height:345px;margin-left:12.97072%;padding:12px;font-size:0.706em;line-height:1.38;}

.text-7,.text-9{font-size:1.882em;line-height:1.38;}

@media(max-width: 1440px) {
body{font-size:1.563em;}

.container .hero-copy{position:relative;z-index:33;margin-top:253px;}

.container .hero-splash{position:relative;z-index:29;width:79.5040116703%;height:908px;margin-top:-617px;}

.container .image{height:auto;}

.footer .element{position:relative;z-index:43;margin-top:36px;}

.hero-copy .text{font-size:0.76em;}

.nav{position:relative;z-index:38;height:40px;}

.nav .image{width:127px;height:auto;margin-left:0.84961%;}

.nav .text{margin-right:0.94944%;font-size:0.64em;}

.section-1{position:relative;z-index:35;height:913px;}

.section-1 .container{position:relative;z-index:34;width:95.2083333333%;height:907px;margin-top:-913px;}

.section-1 .hero-backdrop{position:relative;z-index:28;height:913px;}

.section-2{height:955px;}

.section-2 .element{position:relative;z-index:26;width:80%;margin-top:-1006px;margin-left:10%;font-size:2.32em;}

.section-2 .section-2-background{position:relative;z-index:24;height:1025px;margin-top:50px;}

.section-2 .text{position:relative;z-index:25;width:80%;margin-top:-239px;margin-left:10%;font-size:25px;}

.section-3{height:877px;}

.section-3 .image{position:relative;height:auto;}

.section-3 .section-3-background{position:relative;z-index:18;margin-left:-7.89931%;}

.section-3 .text{position:relative;z-index:22;font-size:2.32em;}

.section-4{height:867px;}

.section-4 .element{width:54.6922300706%;height:528px;}

.section-5{height:895px;}

.section-6{height:768px;margin-top:0;}

.section-6 .container{margin-top:219px;margin-left:3.2997%;}

.section-6 .element{width:53.5822401614%;height:500px;margin-left:2.44792%;}

.container .container-3{clear:none;margin-top:224px;margin-right:1.52344%;}

.container .container-5{margin-top:198px;margin-left:5.64345%;}

.container .element-4{width:56.8055555555%;height:808px;margin-left:0;}

.container .image-7{width:132px;}

.container .image-8{margin-top:236px;}

.container .text-10{width:112.5691699604%;font-size:25px;}

.container .text-11{font-size:2.04em;}

.container .text-12{margin-left:15.99935%;font-size:0.72em;}

.container .text-13{position:relative;z-index:44;margin-left:22.79948%;font-size:0.48em;}

.container .text-5{width:100.0628672953%;min-height:0;margin-left:-0.07107%;padding:10px;font-size:2.32em;}

.container .text-6{width:107.0602706027%;margin-left:-3.56977%;font-size:0.88em;}

.container .text-7{font-size:2.32em;}

.container .text-8{font-size:25px;}

.container .text-9{width:117.0809306025%;font-size:2.32em;}

.hero-copy .image-3{min-width:140px;}

.section-3 .image-4{z-index:19;margin-left:5.61415%;}

.section-3 .image-5{visibility:hidden;z-index:20;margin-top:-877px;margin-left:19.00174%;}

.section-3 .image-6{float:left;clear:none;z-index:21;margin-top:-1192px;margin-right:0;margin-left:46.05577%;}

.section-5 .container-4{position:relative;z-index:10;height:621px;margin-top:-848px;}

.section-5 .element-3{position:relative;z-index:5;height:896px;}
}

@media(max-width: 991px) {
body{font-size:1.375em;}

.container .hero-copy{position:relative;z-index:33;width:31.4618644067%;margin-top:285px;margin-left:0.93022%;}

.container .hero-splash{position:relative;z-index:29;width:65.9957627118%;height:446px;margin-top:-329px;margin-right:-0.74153%;}

.container .image{height:auto;}

.footer{padding-top:0;}

.footer .element{position:relative;z-index:43;height:47px;margin-top:31px;}

.hero-copy .text{font-size:0.545em;}

.nav{position:relative;z-index:38;}

.nav .image{height:auto;margin-top:12px;margin-left:1.25032%;}

.nav .text{margin-top:10px;margin-right:0.94917%;font-size:0.545em;}

.section-1{position:relative;z-index:35;height:602px;}

.section-1 .container{position:relative;z-index:34;width:95.2573158425%;height:773px;margin-top:-749px;margin-right:0.00158%;}

.section-1 .hero-backdrop{position:relative;z-index:28;height:602px;}

.section-2{height:753px;}

.section-2 .element{position:relative;z-index:26;margin-top:-766px;margin-left:9.99937%;font-size:1.818em;}

.section-2 .section-2-background{position:relative;z-index:24;height:841px;margin-top:0;}

.section-2 .text{position:relative;z-index:25;margin-top:-236px;margin-left:9.99937%;font-size:22px;}

.section-3{height:634px;}

.section-3 .image{position:relative;height:auto;}

.section-3 .section-3-background{position:relative;z-index:18;width:141.2714429868%;height:789px;margin-left:-7.87084%;}

.section-3 .text{position:relative;z-index:22;margin-top:-740px;margin-left:9.99937%;font-size:1.818em;}

.section-4{height:543px;}

.section-4 .element{margin-top:0;background-size:contain;background-position:center center;}

.section-5{height:609px;}

.section-6{height:561px;}

.section-6 .container{margin-top:106px;margin-left:0.79781%;}

.section-6 .element{margin-top:34px;margin-left:2.41707%;}

.container .container-3{margin-top:74px;margin-right:2.83174%;}

.container .container-5{margin-top:159px;margin-left:4.8499%;}

.container .element-4{width:56.8113017154%;height:582px;margin-left:0.78835%;}

.container .image-8{margin-top:192px;}

.container .text-10{width:117.0809306025%;margin-left:-6.18083%;font-size:22px;}

.container .text-11{margin-left:9.99937%;font-size:1.636em;}

.container .text-12{margin-left:15.99868%;font-size:0.682em;}

.container .text-13{position:relative;z-index:44;margin-top:-32px;margin-left:22.79894%;font-size:0.636em;}

.container .text-5{margin-left:0;font-size:1.818em;}

.container .text-6{margin-left:-0.05743%;font-size:0.682em;}

.container .text-8{font-size:22px;}

.container .text-7,.container .text-9{font-size:1.818em;}

.section-3 .image-4{display:none;z-index:19;margin-top:-591px;margin-left:5.95831%;}

.section-3 .image-5{display:none;z-index:20;margin-top:-558px;margin-left:29.34851%;}

.section-3 .image-6{z-index:21;width:73.7638748738%;margin-top:-620px;margin-left:12.67186%;}

.section-4 .container-2{height:524px;}

.section-5 .container-4{position:relative;z-index:10;height:422px;margin-top:-623px;}

.section-5 .element-3{position:relative;z-index:5;height:623px;}
}

@media(max-width: 767px) {
.container .hero-copy{position:relative;z-index:33;width:31.9426336375%;margin-top:190px;margin-left:2.05957%;}

.container .hero-splash{position:relative;clear:none;z-index:29;margin-top:98px;margin-right:0;}

.container .image{height:auto;}

.footer .container{margin-top:0;}

.footer .element{position:relative;z-index:43;height:41px;margin-top:34px;}

.hero-copy .text{float:left;clear:both;width:99.5918367346%;margin-right:0;margin-left:0.1976999999%;}

.nav{position:relative;z-index:38;}

.nav .image{height:auto;margin-top:10px;margin-left:1.23452%;}

.nav .text{margin-top:11px;margin-right:0.94932%;}

.section-1{position:relative;z-index:35;height:544px;margin-top:-80px;}

.section-1 .container{position:relative;z-index:34;width:100%;margin-top:-602px;margin-right:0;}

.section-1 .hero-backdrop{position:relative;z-index:28;}

.section-2{height:590px;}

.section-2 .element{position:relative;z-index:26;margin-top:-713px;margin-left:9.34648%;font-size:1.455em;}

.section-2 .section-2-background{position:relative;z-index:24;margin-top:-88px;}

.section-2 .text{position:relative;z-index:25;margin-top:-247px;margin-left:9.99837%;font-size:0.727em;}

.section-3{height:563px;}

.section-3 .image{position:relative;height:auto;}

.section-3 .section-3-background{position:relative;z-index:18;margin-left:-7.89399%;}

.section-3 .text{position:relative;z-index:22;margin-top:-742px;margin-left:9.99837%;font-size:1.455em;}

.section-4{height:482px;}

.section-4 .element{margin-top:-25px;}

.section-5{height:481px;}

.section-6{height:413px;}

.section-6 .container{margin-top:73px;margin-left:3.29205%;}

.section-6 .element{margin-top:-42px;margin-left:2.44663%;}

.section-6 .text{margin-left:-8.48413%;}

.container .container-3{clear:both;margin-top:-438px;margin-right:2.83369%;}

.container .container-5{margin-top:80px;margin-left:5.65108%;}

.container .element-4{clear:both;margin-top:-683px;margin-left:43.99853%;}

.container .image-8{margin-top:172px;}

.container .text-10{font-size:0.682em;}

.container .text-11{margin-left:9.99837%;font-size:1.273em;}

.container .text-12{width:79.9217731421%;margin-left:10.03708%;}

.container .text-13{position:relative;z-index:44;margin-top:-29px;margin-left:22.79987%;font-size:0.545em;}

.container .text-6{width:114.4231820667%;margin-left:-6.99836%;}

.container .text-5,.container .text-7{font-size:1.455em;}

.container .text-8{font-size:0.682em;}

.container .text-9{font-size:1.455em;}

.hero-copy .image-2{float:left;margin-right:0;margin-left:6.25%;}

.hero-copy .image-3{min-width:80px;margin-top:232px;}

.section-3 .image-4{display:block;visibility:hidden;z-index:19;margin-top:-1883px;margin-left:0;}

.section-3 .image-5{display:block;clear:both;z-index:20;margin-top:-760px;margin-left:29.34933%;}

.section-3 .image-6{clear:both;z-index:21;margin-top:-1087px;margin-left:13.03781%;}

.section-5 .container-4{position:relative;z-index:10;margin-top:-508px;}

.section-5 .element-3{position:relative;z-index:5;}
}

@media(max-width: 479px) {
body{font-size:0.813em;}

.container .hero-copy{position:relative;z-index:33;width:79.9582463465%;margin-top:366px;margin-left:9.99152%;}

.container .hero-splash{position:relative;float:left;clear:both;z-index:29;width:92.9018789144%;height:359px;margin-top:-676px;margin-left:7.09486%;}

.container .image{height:auto;}

.footer .element{position:relative;z-index:43;margin-top:21px;}

.hero-copy .text{float:none;clear:none;margin-right:auto;margin-left:auto;font-size:0.923em;}

.nav{display:none;position:relative;z-index:38;height:28px;}

.nav .image{position:absolute;float:none;top:5px;left:0;right:0;height:auto;margin-top:0;margin-right:auto;margin-left:auto;}

.nav .text{display:none;margin-top:14px;margin-right:0.94272%;font-size:0.923em;}

.section-1{position:relative;clear:none;z-index:35;height:716px;margin-top:0;}

.section-1 .container{position:relative;z-index:34;height:740px;margin-top:-717px;}

.section-1 .hero-backdrop{position:relative;z-index:28;height:717px;}

.section-2{height:450px;}

.section-2 .element{position:relative;z-index:26;margin-top:-630px;margin-left:9.99152%;font-size:2.154em;}

.section-2 .section-2-background{position:relative;z-index:24;margin-top:-180px;}

.section-2 .text{position:relative;z-index:25;margin-top:-300px;margin-left:9.99152%;font-size:1em;}

.section-3{height:442px;}

.section-3 .image{position:relative;height:auto;}

.section-3 .section-3-background{position:relative;z-index:18;margin-left:-7.89405%;}

.section-3 .text{position:relative;z-index:22;margin-top:-760px;margin-left:9.99152%;font-size:2.154em;}

.section-4{height:521px;}

.section-4 .element{width:79.9582463465%;height:277px;margin-top:34px;margin-left:9.99152%;}

.section-4 .text{margin-left:-5.80487%;}

.section-5{height:556px;}

.section-6{height:454px;}

.section-6 .container{clear:both;width:79.9582463465%;margin-top:41px;margin-left:10.02088%;}

.section-6 .element{width:79.9582463465%;height:237px;margin-top:24px;margin-left:9.99152%;}

.section-6 .text{width:111.6618075801%;margin-left:-5.82635%;}

.container .container-3{width:80.1670146137%;margin-top:14px;margin-right:9.81211%;}

.container .container-5{width:79.9582463465%;margin-top:376px;margin-left:10.02088%;}

.container .element-4{width:79.9582463465%;height:365px;margin-top:-907px;margin-left:10.02088%;}

.container .image-8{width:149px;margin-top:185px;}

.container .text-10,.container .text-6{font-size:1em;}

.container .text-11{margin-left:9.99152%;font-size:1.692em;}

.container .text-12{margin-top:7px;margin-left:9.99152%;font-size:1em;}

.container .text-13{position:relative;z-index:44;margin-top:-26px;margin-left:22.79815%;font-size:0.769em;}

.container .text-5{width:111.3372093023%;font-size:2.154em;}

.container .text-7{font-size:2.154em;}

.container .text-8{font-size:1em;}

.container .text-9{font-size:2.154em;}

.hero-copy .image-2{float:none;margin-right:auto;margin-left:auto;}

.hero-copy .image-3{margin-top:25px;}

.section-3 .image-4{clear:both;z-index:19;margin-top:-2021px;}

.section-3 .image-5{z-index:20;margin-left:29.34499%;}

.section-3 .image-6{z-index:21;margin-top:-1127px;margin-left:12.90775%;}

.section-5 .container-4{position:relative;z-index:10;height:571px;margin-top:-596px;}

.section-5 .element-3{position:relative;z-index:5;height:609px;}
}